# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
backend/main_demo_backup.py
backend/vehicle_maintenance_backup.db
backend/model.joblib
backend/train_model.py